{% extends 'base.html'%} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}

<body>
    <br>

    <div class="container">
        <h1 class="text-center fs-1 fw-bold">A minute pitch</h1>
        <h3 class="text-center fs-3"> You only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?< </h3>
    </div>
    <hr>
    <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold text-center">PRODUCTS</div>
                    <div class="card-body">
                        <h5 class="card-title fs-3 text-center"> <strong>Pruduct Pitches </strong> <br>First, tell the story and imediately include a value proposition<br> </h5>
                        <hr>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="../pitch/"> Add pitch </a></button>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/categories/products">View pitch </a></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold text-center">IDEAS</div>
                    <div class="card-body">
                        <h5 class="card-title fs-3 text-center"> <strong>Idealogical Pitches</strong> <br> <br> ideally please make sure your words are impressive,make me smile. </h5>
                        <hr>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="../pitch/"> Add pitch </a></button>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/categories/business"> View Pitches</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold text-center"></div>
                    <div class="card-body">
                        <h5 class="card-title fs-3 text-center"> <strong>BUSINESS</strong> <br>The secret of change is to focus all your energy not on fighting but building new <br>.</h5>
                        <hr>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="../pitch/"></a>Add pitch</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/categories/business"></a>View pitch</button>
                    </div>
                </div>
            </div>
    </div>
    {% endblock%}
</body>